<div id="banner_img_wrapper">
  <%= image_tag("clothing_line_imgs/#{@clothing_line.img_path}", :id => "banner_img") %>
</div>
<div id="items" class="colored_section store">
  <div class="trigger" id="items_trigger"></div>
  <h2 id="items_title"><%= @clothing_line.name %></h2>
  <div id="back_arrow_wrapper">
    <% link = "/home/#clothing_lines" %>
    <%= link_to(image_tag("left_arrow.png"), link) %>
    <%= link_to("store", link, :class => "arrow_text") %>
  </div>
  <% items_ordered = @clothing_line.items.sort { |i1, i2| i1.name <=> i2.name } %>
  <% items_ordered.each do |item| %>
    <% path = "missing_img.png" %>
    <% img_paths = eval(item.img_paths) %>
    <% path = "item_imgs/#{img_paths[0]}" unless img_paths.empty?  %>
    <div class="img_wrapper" data-aos="fade-up">
      <%= link_to(image_tag(path, :alt => item.name), item_path(item)) %>
      <%= link_to(item.name.downcase, item_path(item), :class => "img_text main") %>
    </div>
  <% end %>
</div>
