<style>
#header {
  font-family: 'Cabin';
  color: white;

  width: auto;
  height: 145px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

#header h1 {
  font-size: 8em;

  text-align: center;
  width: auto;

  position: absolute;
  top: -1.4em;
  left: 0;
  right: 0;
}

#header h2 {
  font-size: 3.4em;

  text-align: center;
  width: auto;

  position: absolute;
  top: 0.9em;
  left: 0;
  right: 0;
}
</style>

<div id="header">
<h1 class="animated fadeIn">Voyage</h1>
<h2 class="animated fadeIn">coming soon</h2>
</div>

<!-- <ul>
  <li><%= link_to("Store", store_path) %></li>
  <li><%= link_to("Art", art_path) %></li>
  <li><%= link_to("About Us", about_us_path) %></li>
  <li><%= link_to("Journal", journal_path) %></li>
  <li><%= link_to("Contact", contact_path) %></li>
</ul> -->
