<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<div id="checkout" class="colored_section top">
  <div class="trigger" id="checkout_trigger"></div>
  <h2 id="checkout_title">checkout</h2>
    <div id="back_arrow_wrapper">
      <%= render :partial => 'layouts/back_arrow', :locals => { name: @back_arrow_info[:name], link: @back_arrow_info[:link] } %>
    </div>
  <div id="checkout_content" data-aos="fade-up">
    <div id="cart">
      <div id="cart_content">
        <%= render :partial => 'layouts/cart', :locals => { order_items: @order_items } %>
        <% if @amount > 0 %>
          <div id="pay_buttons">
            <%= form_tag payment_success_path do %>
              <% amount = number_to_currency(@amount/100) %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Voyage Store purchase"
                      data-image=<%= asset_path("icon.png") %>
                      data-label="pay with credit card or bitcoin"
                      data-amount="<%= @amount %>"
                      data-locale="auto"
                      data-shipping-address="true"
                      data-billing-address="true"
                      data-bitcoin="true"></script>
            <% end %>
            <%= button_tag("pay with apple pay", :id => "apple-pay-button") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  Stripe.applePay.checkAvailability(function(available) {
    if (available) {
      document.getElementById('apple-pay-button').style.display = 'block';
    }
  });

  document.getElementById('apple-pay-button').addEventListener('click', beginApplePay);

  function beginApplePay() {
    var paymentRequest = {
      requiredBillingContactFields: ['postalAddress'],
      requiredShippingContactFields: ['emailAddress', 'givenName', 'familyName'],
      countryCode: 'US',
      currencyCode: 'USD',
      total: {
        label: 'Voyage Store',
        amount: <%= @amount/100 %>
      }
    };

    var session = Stripe.applePay.buildSession(paymentRequest,
    function(result, completion) {

      $.post('/payment_success', {
        stripeToken: result.token.id,
        stripeEmail: result.shippingContact.emailAddress,
        stripeShippingName: result.shippingContact.givenName + result.shippingContact.familyName,
        stripeShippingAddressLine1: result.token.card.address_line1,
        stripeShippingAddressCity: result.token.card.locality,
        stripeShippingAddressState: result.token.card.administrativeArea,
        stripeShippingAddressCountry: result.token.card.country,
        stripeShippingAddressZip: result.token.card.postalCode
      }).done(function() {
        completion(ApplePaySession.STATUS_SUCCESS);
      }).fail(function() {
        completion(ApplePaySession.STATUS_FAILURE);
      });

    });

    session.oncancel = function() {
      console.log("User hit the cancel button in the payment window");
    };

    session.begin();
  }
</script>
