<!DOCTYPE html>
<html>
  <head>
    <title>Voyage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <% if error_present %>
      <style>
        #navbar {
          box-shadow: none !important;
        }
      </style>
    <% end %>

    <%= stylesheet_link_tag    'application', Rails.application.assets.find_asset(params[:controller]) ? params[:controller] : 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', Rails.application.assets.find_asset(params[:controller]) ? params[:controller] : 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag('mobile_application') if mobile_device? %>
    <%= javascript_include_tag('flowers_animation') if !mobile_device? %>

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <% unapproved_controllers = ["devise/sessions"] %>
    <% if !unapproved_controllers.include? params[:controller] %>
      <div id="navbar">
        <% unless @back_arrow_info.nil? %>
          <div id="back_arrow_nav_wrapper">
            <%= render :partial => 'layouts/back_arrow', :locals => { name: @back_arrow_info[:name], link: @back_arrow_info[:link] } %>
          </div>
        <% end %>
        <h1><%= link_to("voyage", root_path) %></h1>
        <ul id="navlinks">
          <li id="about_us_link"><%= link_to("about us", "javascript:void(0);", :onclick => "scroll_to_element('#about_us');") %></li>
          <li id="contact_link"><%= link_to("contact", "javascript:void(0);", :onclick => "scroll_to_element('#contact');") %></li>
          <li id="cart_link"><%= link_to("cart", "javascript:void(0);", :onclick => "scroll_to_element('#cart');") if params[:controller] != "team_members" %></li>
        </ul>
        <%= image_tag("loading.svg", :id => "loading_wheel") %>
      </div>
      <% if flash[:order_error_line1].present? && flash[:order_error_line2].present? %>
        <div class="error_message">
          <p><%= flash[:order_error_line1] %><br><%= flash[:order_error_line2] %></p>
        </div>
      <% elsif flash[:error].present? %>
        <div class="error_message">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>
    <% if !unapproved_controllers.include? params[:controller] %>
      <div id="footer">
        <% if params[:controller] != "charges" && params[:controller] != "team_members" %>
          <div id="cart" class="colored_section">
            <div class="trigger" id="cart_trigger"></div>
            <h2 id="cart_title">cart</h2>
            <div id="cart_content" data-aos="fade-up">
              <%= render :partial => 'layouts/cart', :locals => { order_items: @order_items } %>
            </div>
          </div>
        <% end %>
        <% if params[:controller] != "team_members" %>
          <div id="about_us" class="colored_section">
            <div class="trigger" id="about_us_trigger"></div>
            <h2 id="about_us_title">about us</h2>
            <% tm_ordered = TeamMember.all.sort { |tm1, tm2| tm1.index <=> tm2.index } %>
            <% tm_ordered.each_with_index do |team_member, i| %>
              <% path = "missing_img.png" %>
              <% if !team_member.img_path.nil? && !team_member.img_path.empty? %>
                <% path = "team_member_imgs/#{team_member.img_path}" %>
              <% end %>
              <div class="img_wrapper <%= "last" if i == tm_ordered.size-1 %>" data-aos="fade-up">
                <%= link_to(image_tag(path, :alt => team_member.name), team_member_path(team_member)) %>
                <%= link_to(team_member.name.downcase, team_member_path(team_member), :class => "img_text main") %>
                <%= link_to(team_member.role.downcase, team_member_path(team_member), :class => "img_text sub") %>
              </div>
            <% end %>
            <a href="https://www.instagram.com/voyagegang/" id="insta_link" class="special_link" target="_blank" data-aos="fade-up">@voyagegang</a>
          </div>
        <% end %>
        <div id="contact" class="colored_section">
          <div class="trigger" id="contact_trigger"></div>
          <h2 id="contact_title">contact</h2>
          <a href="mailto:support@voyagealone.com" id="email_link" class="special_link" data-aos="fade-up">support@voyagealone.com</a>
        </div>
      </div>
    <% end %>

    <script>
      AOS.init();

      var loading_wheel_timer;

      function show_loading_wheel() {
        loading_wheel_timer = setTimeout(function() {
          document.getElementById('loading_wheel').style.display = "block";
        }, 500);
      }

      function hide_loading_wheel() {
        clearTimeout(loading_wheel_timer);
        document.getElementById('loading_wheel').style.display = "none";
      }

      function scroll_to_element(element, time) {
        $('html, body').stop().animate({
           scrollTop: $(element).offset().top
        }, time == null ? 500 : time);
      }

      function scroll_to_store() {
        $('html, body').stop().animate({
           scrollTop: $('.store').offset().top
        }, 500);
      }
    </script>

    <% if flash[:exec] == "scroll_to_store" %>
      <script>scroll_to_store();</script>
    <% end %>

    <% if flash[:exec] == "scroll_to_cart" %>
      <script>scroll_to_element(document.getElementById('cart'));</script>
    <% end %>

    <% if flash[:exec] == "scroll_to_about_us" %>
      <script>scroll_to_element(document.getElementById('about_us'));</script>
    <% end %>
  </body>
</html>
